<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Isha Swaminathan">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1>MonoMuse</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    </header>

<div class="main">

<h1>Checkout</h1>

<p>
Complete the form below to reserve your tickets to MonoMuse. After submitting,
you will receive confirmation details by email.
</p>

<form>

<p>
<label for="name">Name: (required)</label><br>
<input type="text" id="name" name="name" required>
</p>

<p>
<label for="email">Email: (required)</label><br>
<input type="email" id="email" name="email" required>
</p>

<p>
<label for="quantity">Ticket Quantity: (required)</label><br>
<input type="number" id="quantity" name="quantity" min="1" max="10" required>
</p>

<p>
<button type="submit">Complete Purchase</button>
</p>

</form>

</div>

<footer>
<p>© 2026 MonoMuse. All rights reserved.</p>
</footer>

</body>
</html>