<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- lato-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- oswald-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <meta name="author" content="Isha Swaminathan">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body onload="addYear()">
    <header>
<a href="../index.html">
  <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
</a>
<nav>
    <a href="../index.html">Home</a>
    <a href="explore.html">Explore</a>
    <a href="exhibitions.html">Exhibitions</a>

    <div class="button-group">
        <a href="checkout.html" class="cta">Checkout</a>
        <a href="tickets.html" class="cta">Buy Tickets</a>
    </div>
</nav>
    </header>

<div class="main">

<h1>Checkout</h1>

<p style="text-align: center; max-width: 600px; margin: 20px auto;">
Complete the form below to reserve your tickets to MonoMuse. After submitting,
you will receive confirmation details by email.
</p>

<form>

<p style="color: #d32f2f; font-size: 14px; font-style: italic; font-weight: bold; text-align: right; margin-top: 0;">* = required</p>

<p>
<label for="name">Name: <span style="color: #d32f2f;">*</span></label><br>
<input type="text" id="name" name="name" required>
</p>

<p>
<label for="email">Email: <span style="color: #d32f2f;">*</span></label><br>
<input type="email" id="email" name="email" required>
</p>

<p>
<label for="quantity">Ticket Quantity: <span style="color: #d32f2f;">*</span></label><br>
<input type="number" id="quantity" name="quantity" min="1" max="10" required>
</p>

<p>
<button type="submit">Complete Purchase</button>
</p>

</form>

</div>

<footer> 
    <p id="copyYear">&copy; MonoMuse. All rights reserved.</p>
</footer>

</body>
</html>